.app {
    padding: 20px 20px 0 20px;
}

.app--light {
    color: black
}

.app--dark {
    color: white;
}

.font-serif {
    font-family: 'Roboto Slab', serif;
}

.font-sserif {
    font-family: 'Roboto', sans-serif;
}

.font-mono {
    font-family: 'Roboto Mono', monospace;
}

.noData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.noDataHeader {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .app {
        padding: 40px 40px 0 40px;
    }
}

@media screen and (min-width: 1440px) {
    .app {
        padding: 70px 350px 0 350px;
    }
}